SECRET_KEY=135135135315135 # Django secret key
DEBUG=1 # Enable Django Debug mode
ALLOWED_HOSTS=127.0.0.1 # Django allowed hosts
DB_NAME=devdb
DB_USER=devuser
DB_PASS=changeme
DB_HOST=127.0.0.1
LOCAL_EXECUTION=1 # this environment variable determines if to use postgres (set to 0) or sqlite (set to 1), defaults to 1
OPENAI_API_KEY=41234515113513 # OpenAI API key or Azure API OpenAI API key
OPENAI_COMPLETION_MODEL_DEPLOYMENT_NAME=gpt-4o-mini # Azure OpenAI completion model deployment name or OpenAI model name, defaults to gpt-4o-mini

# The following environment variables are needed only
# if you are using Azure OpenAI. Otherwise delete them.
OPENAI_API_TYPE=azure
OPENAI_API_VERSION=
AZURE_OPENAI_API_BASE_URL=

# redis variables only need to be set in docker-compose or production, not local. They default to: 'redis://localhost:6379/0'
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# needed in production, same as allowed hosts
CSRF_TRUSTED_ORIGINS=

# this is only needed when running locally in docker-compose or if you want to use celery instead of aws SQS/Lambda
USE_CELERY=0