{% extends "base.html" %}
{% block content %}
<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
<fieldset class="form-group">
    <legend class="border-bottom mb-4">Change Password</legend>
    {% csrf_token %}
    <p>Old Password:</p>
    <p>{{ form.oldpassword }}</p>
    <p>New Password:</p>
    <p>{{ form.password1 }}</p>
    <p>New Password again:</p>
    <p>{{ form.password2 }}</p>
</fieldset>
<br>
    <button type="submit" >Change Password</button>
</form>
{% endblock content%}
